name: build

on:
  push:
  pull_request:
    branches: [ main ]
    paths:
    - '**.cs'
    - '**.csproj'

env:
  DOTNET_VERSION: '3.1' # The .NET SDK version to use

jobs:
  build:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./src/MicroServices/
    steps:
      - uses: actions/checkout@v3
      - name: Build image 
        run: docker build . --file Banking/Api/MicroRabbit.Banking.Api --tag my-image-name:$(date +%s)